* {
	font-family: 'Roboto', sans-serif;
}

/*body {
	background-image: url('images/background.jpeg');
}

.darken {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/background.jpeg);
	height: 100%;
	width: 100%;
}*/

nav {
	text-align: right;
    padding: 15px 50px 15px 15px;
    background-color: lightblue;
}

header {
	text-align: center;
}

legend {
	font-weight: bold;
    padding-bottom: 5px;
    margin: 0 auto;
}

ul {
	margin: 0px 10px;
	padding: 0px;
	text-align: left;
}

form {
	width: 100%;
    text-align: center;
    margin: 0 auto;
}

form#post-form {
	padding-left: 5%;
	padding-right: 10%
}

div.js-post {
	margin: 0 auto;
	width: 60%;
	border: 1px solid grey;
	padding: 5%;
	text-align: center;
}

div.books, div.categories {
	margin: 0 auto;
	text-align: center;
}

label {
	width: 99px;
	float: left;
}

h4 {
	margin-bottom: 14px;
}

hr {
	width: 70%;
}

select {
	background-color: lightgrey;
}

i {
	display: inline-block;
}

button {
	margin: 15px 0;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    font-weight: bold;
}

li {
	list-style: none;
	width: 100%;
}


input, textarea {
	padding: 10px 15px;
    width: 65%;
    margin-right: 0;
    border: 1px solid black;
}

div.js-get {
	text-align: center;
}

ul.ingredients-field, ul.books-field, ul.categories-field {
	text-align: left;
	width: 100%;
	margin-left: 69px;
}

ul#post > li {
	margin: 15px auto;
}


.hidden {
	display: none;
}

.search-submit {
	margin: 0 0 0 0;
}

.post-submit {
	text-align: center;
	position: relative;
	right: 5%;
	width: 25%;
}

#search {
    width: 40%;
    margin: 0 0 0 0;
}

#filter {
	height: 40px;
	font-weight: bold;
	padding-left: 5px;
}

.js-added {
	margin-right: 1px;
	margin: 1px auto;
	padding-left: 30px;
	padding-right: 40px;
}

.js-results {
	padding: 0% 10%;
}

div.results-frame {
	border: 1px solid black;
    width: 45%;
    margin: 20px auto;
    padding: 20px 50px;
    background-color: ghostwhite;
}

div.results-frame > label {
	text-decoration: underline;
	font-weight: 600;
	margin-bottom: 2.5px;
}

div.results-frame > a {
	text-decoration: none;
	color: green;
}

div.results-frame > p {
	margin: 15px 0px 15px 0px;
}

div.results-frame > div {
	margin-bottom: 15px;
	margin-top: 15px;
}

div.js-display {
	margin: 0 auto;
	width: 60%;
	border: 1px solid grey;
	padding: 5%;
	text-align: center;
}

ul.ingredients-list {
	margin-top: 10px;
	margin-left: 0px;
	padding: 0;
}

ul.ingredients-list > li {
	list-style: circle;
}

ul.js-display-ingredients > li {
	list-style: circle;
}

.js-getButton {
	font-weight: 700;
    color: grey;
    text-decoration: none;
    margin-left: 25px;
} 

.js-postButton {
	font-weight: 700;
    color: green;
    text-decoration: none;
    margin-left: 25px;
}

.put-button, .delete-button {
	margin-left: 5px;
}

.fa-minus-circle {
	padding-left: 4px;
}